* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Company Type Cards */
.company-type-card {
  margin: 1rem;
  width: 14rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 5px;
  border: solid #dee3e7 1px;
  background: #fdfdfd;
  font-weight: 600;
  cursor: pointer;
}
.months-card {
  width: 5rem;
  /* height: 2rem; */
  border-radius: 5px;
  border: solid #dee3e7 1px;
  background: #fdfdfd;
  cursor: pointer;
}
.company-type-card:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  background: #a5ccf79c;
  box-shadow: 0px 0px 20px 0px #a9a9a9;
  border-color: #007bff !important;
}
.company-type-card div {
  padding-top: 15px;
  font-size: 1.2rem;
  color: #1f4058;
}

/* Utility */
.flex-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

/* Question Header */
.header-title {
  max-width: 800px;
  text-align: center;
}

.header-title h1 {
  padding: 10px 20px;
  color: #265373;
}

.header-title p {
  padding: 10px 20px;
  color: #46494b;
}

/* Previous Question Button */
.previous-question {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding: 10px 0px 0px 20px;
  cursor: pointer;
}

.previous-question:hover .previous-question-icon {
  transition-duration: 0.2s;
  transform: translateX(-3px);
}

.previous-question div {
  padding-left: 5px;
}

/* Continue Button */
.continue-button {
  transform: scale(1.1);
  transition-duration: 0.2s;
  margin-top: 30px;
  width: 300px;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-style: italic;
}

.continue-button-disabled {
  background-color: #cecdcd;
}
.continue-button-enabled {
  color: #fff;
  background-color: #1f4058;
}
.continue-button:hover .continue-icon {
  transition-duration: 0.2s;
  transform: translateX(10px);
}

.continue-icon {
  display: inline-flex;
  position: relative;
  margin: 0px 8px;
}

.display-none {
  display: none;
}

/* Input style */
.input-container {
  position: relative;
  display: flex;
  margin-top: 30px;
}

.input-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  background-color: #dee3e7;
  border-radius: 4px 0 0 4px;
  border: #a9a9a9 1px solid;
  border-right: 0;
  font-size: 30px;
  color: #1f4058;
}

.input-container:focus-within div {
  background: #484eea;
  border: #484eea 1px solid;
  border-right: 0;
  color: #fff;
}

.input-container div.filled {
  background: #484eea;
  border: #484eea 1px solid;
  border-right: 0;
  color: #fff;
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 15px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 24px;
  line-height: 1;
  width: 100%;
  left: 15px;
}

.input-container label.symbol {
  left: 70px;
}

.input-container:focus-within label {
  transform: translate(0, 5px) scale(0.8);
  color: #0a53e4;
}

.input-container label.filled {
  transform: translate(0, 5px) scale(0.8);
}

.input-container input {
  width: 100%;
  border-radius: 4px;
  border: #a9a9a9 1px solid;
  padding: 24px 16px 4px 16px;
  font-size: 24px;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container.symbol input {
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
}

.input-container:focus-within input {
  border: #484eea 1px solid;
}

.input-container:focus-within.symbol input {
  border: #484eea 1px solid;
  border-left: 0;
}
