* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  overflow: hidden;
}

header div ul {
  display: inherit;
  flex-direction: row-reverse;
  max-width: 300px;
}

header div ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-width: 10px;
  border-color: black;
}

header div div {
  display: flex;
  flex-direction: row;
}

.headerTitle {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.-chevron {
  font-size: 0.6rem;
  color: #7a7a78;
  width: 0.5rem;
  padding-left: 0.2rem;
}
